<div class="container">
	<div class="row">
		<div class="col-md-6 footer">
			<p>Copyright &copy; <%= Time.now.year %> <%= link_to 'Citizens State Bank', 'https://www.citizensstatebank.us' %></p>     
		</div>
		<div class="col-md-6 footer"><small class="text-right"><a href="https://www.citizensstatebank.us/privacy-policy" target="_blank">Privacy Policy</a></small></div>
	</div>
</div>

