<div class="container">
	<div class="row">
		<div class="col-md-12 footer">
			<%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>

		</div>
	</div>
</div>

